.vs/
artifacts/
*.log
bin
obj
# backup files stored on the users machine.
*.bak
# ignore rider bullshit files.
.idea
# not needed anymore, kept locally just in case however.
XmlAbstraction/
GitAssemblyInfo.cs
*.binlog
